<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Contacto</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<div class="grid-container">
	 <div class="grid-item grid-header">
              	<header th:replace="~{layouts/header :: header}">
              	</header>
              	</div>
		<div class="grid-item grid-main">
			<section class="formulario-contacto">
				<table class="formulario" border="2" cellspacing="2">
					<tr>
				 <td align="left" bgcolor="#11f1f">
					  <b>Contactenos</b>
					   <p>3915 Av. General Belgrano, 388-1099999</p>
					   <p>Lunes a Viernes 9:00 am a 8:00 pm</p>
					   <p>Sabados y Domingos 9:00 am a 12:30 pm</p>
					   <a href="contactos@mail.com.ar">contactos@mail.com.ar</a>
					  <p></p>
					   <li><a href="https://www.facebook.com">Facebook</a>
					  <li><a href="https://www.instagram.com">Instagram</a>
					   <li><a href="https://www.twitter.com">Twitter</a>
				 </td>
				 </tr>
		 <tr>
			<td bgcolor="#fff1f" >
			   <p>Nombre
				  <textarea type="text"placeholder="Ingrese su nombre"></textarea>
			   </p>
			   <p>Email
				  <textarea type="text"placeholder="Ingrese su email"></textarea>
			   </p>
			   <p>Ciudad
				  <textarea type="text"placeholder="Ingrese su ciudad"></textarea>
			   </p>
			   <p>Mensaje
				  <textarea type="text"placeholder="Escriba su mensaje"></textarea>
			   </p>
			   <button v-on: click="addItem()" type="enviar">Enviar</button>
			</td>
		 </tr>
		 </table>
			</section>
			
		 
	
		</div>
		
		<div class="grid-item grid-aside">
			<div class="aside-text">ASIDE</div>
	 </div>
		 <div class="grid-item grid-footer">
                <footer th:replace="layouts/footer :: footer">
                </footer>
                </div>

	</div>

	
</body>
</html>
