<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paseau - Paseo de mascotas</title>
	<link rel="stylesheet" href="../static/css/estilov2.css"/>
</head>
<body>
	<header>
			<div id="logo">
				<h1 id="tituloh">Paseau</h1>
				<img id="huella" src="../static/images/huella.png">
				
				
					<nav>
					<ul>
					<li><a  class="active" href="./index.html">Inicio</a></li>
					<li><a href="./productos.html">Productos</a></li>
					<li><a href="./consejos.html">Consejos</a></li>
					<li><a href="./servicios.html">Servicios</a></li>
					<li><a href="./sucursales.html">Sucursales</a></li>
					<li><a href="./contacto.html">Contactanos</a></li>
				</ul>
				</nav>
			</div>
		
			
	    
	</header>
	
	<main>
		<section>
			<article>
				<h2>Artículo 1</h2>
				<p>	Tenemos como objetivo principal ofrecer un <strong>servicio
				de calidad</strong>, brindando el cuidado y atención adecuado a sus mascotas.
				Además de esto, existen otros puntos de suma importancia.</p>
			</article>
			<article>
				<h2>Artículo 2</h2>
				<p>Contenido del artículo 2...</p>
			</article>
		</section>
		<aside>
			<h3>Anuncios</h3>
			<p>Anuncio 1</p>
			<p>Anuncio 2</p>
			<p>Anuncio 3</p>
		</aside>
	</main>
	<footer>
		<p><strong><em>Ladau</em></strong> - Diseñado por el <strong>Grupo 13</strong> – Jujuy – República Argentina - </p>
	</footer>
</body>
</html>
