<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<div class="grid-container">
			  <div class="grid-item grid-header">
              	<header th:replace="~{layouts/header :: header}">
              	</header>
              	</div>
			<div class="grid-item grid-main">
						<section>
				<ul class="galeria-productos">
				<li>
				<figure>
				<img class="productos-image" src="/images/bandeja_sanitaria.png" alt="Bandeja sanitaria" width="300" height="300">
				<figcaption>Bandeja sanitaria para gato/a</figcaption>
				</figure>
				</li>
				
				<li>
				<figure>
				<img class="productos-image" src="/images/cepillo_limpieza.png" alt="Cepillo para lavado" width="300" height="300">
				<figcaption>Cepillo para lavado c/ dispenser de jabon </figcaption>
				</figure>
				</li>
				
				<li>
				<figure>
				<img class="productos-image" src="/images/cepillo.png" alt="Cepillo para ropa" width="300" height="300">
				<figcaption>Cepillo para sacar pelusa de la ropa</figcaption>
				</figure>
				</li>
				
					<li>
				<figure>
				<img class="productos-image" src="/images/juguete.png" alt="Juguete" width="300" height="300">
				<figcaption>Juguete trenzado para mordisquear</figcaption>
				</figure>
				</li>
				
				<div class="div-boton">
					<button class="button"><a href="/nuevo_producto">Nuevo producto</a></button>
				</div>
				
				</ul>
				</section>
				
				
			</div>
			
			 <div class="grid-item grid-aside">
					<div class="aside-text">ASIDE</div>
			 </div>
                <div class="grid-item grid-footer">
                    <p><strong><em>Paseau</em></strong> - Diseñado por el <strong>Grupo 13</strong> – Jujuy – República Argentina - </p>

                </div>
	</div>

	
	
	
</body>
</html>