<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Servicio de paseos</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>
<body background=../static/images/fondo.jpg>
	<div class="grid-container">
	 <div class="grid-item grid-header">
              	<header th:replace="~{layouts/header :: header}">
              	</header>
              	</div>
		<div class="grid-item grid-main">

			<section class="section-paseos">
				<table border="2">
					<tr>
						<td>Dia</td>
						<td>Lunes</td>
						<td>Martes</td>
						<td>Miercoles</td>
						<td>Jueves</td>
						<td>Viernes</td>
						<td>Sabado</td>
					<tr>
						<td>Horarios</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
					<tr>
						<td>Paseador</td>
						<td>Juan Perez</td>
						<td>Lucas Diaz</td>
						<td>Juan Perez</td>
						<td>Maria Gomez</td>
						<td>Lucas Dias</td>
						<td>Roberto Vasquez</td>
					</table>
			</section>
			
		</div>


		<div class="grid-item grid-aside">
			<div class="aside-text">ASIDE</div>
	 </div>
			 <div class="grid-item grid-footer">
                <footer th:replace="layouts/footer :: footer">
                </footer>
                </div>

	</div>
	

	
</body>
</html>