<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sucursales</title>
<link rel="stylesheet" href="../static/css/estilo.css"/>
</head>
<body>
	<div class="grid-container">
		<div class="grid-item grid-header">
			<div id="logo">
				<h1 id="tituloh">Paseau</h1>
				<img id="huella" src="../static/images/huella.png">
				
				
				
					<nav>
					<ul>
					<li><a  class="active" href="./index.html">Inicio</a></li>
					<li><a href="./productos.html">Productos</a></li>
					<li><a href="./consejos.html">Consejos</a></li>
					<li><a href="./servicios.html">Servicios</a></li>
					<li><a href="./sucursales.html">Sucursales</a></li>
					<li><a href="./contacto.html">Contactanos</a></li>
				</ul>
				</nav>
			</div>
		</div>

			<div class="grid-item grid-main">
				<section class="section-sucursales">
				
		<ul class="section-sucursales-ul">
			<li>
			<figure>
			<img class="sucursales-image" src="../static/images/gps_icono2.png" alt="Bandeja sanitaria">
			<figcaption>Paso de los Andes 512 <br/><strong>(San Salvador de Jujuy)</strong></figcaption>
			</figure>
			</li>

			<li>
				<figure>
				<img class="sucursales-image" src="../static/images/gps_icono2.png" alt="Bandeja sanitaria">
				<figcaption>Urquiza 750<br/><strong>(El Carmén)</strong></figcaption>
				</figure>
				</li>

				<li>
					<figure>
					<img class="sucursales-image" src="../static/images/gps_icono2.png" alt="Bandeja sanitaria">
					<figcaption>Tucumán 1255<br/><strong>(Palpalá)</strong></figcaption>
					</figure>
					</li>

			</ul>

			
		
			</section>
			</div>
			
			<div class="grid-item grid-aside">
				<div class="aside-text">ASIDE</div>
		 </div>
			<div class="grid-item grid-footer">
				<p><strong><em>Paseau</em></strong> - Diseñado por el <strong>Grupo 13</strong> – Jujuy – República Argentina - </p>
		
			</div>

	</div>
	
	
	
</body>
</html>