<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Sucursales</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}"/>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
	<div class="grid-container">
	 <div class="grid-item grid-header">
              	<header th:replace="~{layouts/header :: header}">
              	</header>
              	</div>

			<div class="grid-item grid-main">
				<section class="section-sucursales">
				
		<ul class="section-sucursales-ul">
			<li>
			<figure>
			<img class="sucursales-image" src="/images/gps_icono2.png" alt="Bandeja sanitaria">
			<figcaption>Paso de los Andes 512 <br/><strong>(San Salvador de Jujuy)</strong></figcaption>
			</figure>
			</li>

			<li>
				<figure>
				<img class="sucursales-image" src="/images/gps_icono2.png" alt="Bandeja sanitaria">
				<figcaption>Urquiza 750<br/><strong>(El Carmén)</strong></figcaption>
				</figure>
				</li>

				<li>
					<figure>
					<img class="sucursales-image" src="/images/gps_icono2.png" alt="Bandeja sanitaria">
					<figcaption>Tucumán 1255<br/><strong>(Palpalá)</strong></figcaption>
					</figure>
					</li>

			</ul>

			
		
			</section>
			</div>
			
			<div class="grid-item grid-aside">
				<div class="aside-text">ASIDE</div>
		 </div>
				 <div class="grid-item grid-footer">
                <footer th:replace="layouts/footer :: footer">
                </footer>
                </div>

	</div>
	
		 <script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
	
</body>
</html>