/* =================ESTILO GENERAL ===========*/
body {
	
	background-image: url(../images/wallpaper.jpg);
	background-size: cover;
}


.grid-aside {
			border: 2px solid #00BCD4;
			box-shadow: 4px 3px 10px 0 #212121;
			border-radius: 6px;

}

.grid-footer {
			border: 2px solid #00BCD4;
			box-shadow: 4px 3px 10px 0 #212121;
			height: 6vh;
			text-align: center;
}


/*================RESPONSIDIVDAD MEDIA QUERIES============*/
	  @media (max-width: 992px) {
            .grid-aside {
            height: 80vh;
            overflow: auto;
            margin-bottom: 150px;
            
            }
            .grid-main{
            height: 75vh;
            margin-top: 0;
            }
      		.article-consejos{
      									
      				height: 80vh;
      			    overflow: auto;
      		
      		}
        }


         @media (max-width: 1140px) {
            .grid-aside {
					height: 77vh;
					overflow: auto;
					margin-bottom: 150px;
            
            }
            .grid-main{
					height: 75vh;
					margin-bottom: 290px;
					margin-top: 0;
            }
      		.article-consejos{
      									
      				height: 80vh;
      			    overflow: auto;
      		
      		}
        }
         
                 @media (max-width: 1650px) {
            .grid-aside {
					height: 77vh;
					overflow: auto;

            
            }
            .grid-main{
					height: 80vh;
					margin-bottom: 290px;
					margin-top: 0;
            }
      		.article-consejos{
      									
      				height: 75vh;
      			    overflow: auto;
      		
      		}
      		
      		.formulario-contacto{
      				height: 77vh;
      		}
        }
            @media (min-width: 1651px) {

            .grid-aside {
					height: 70vh;
					overflow: auto;
            
            }
            .grid-main{
					height: 80vh;
					margin-top: 0;
            }
      		.article-consejos{
      									
      				height: 69vh;
      			    overflow: auto;
      		
      		}
      	
 			.formulario-contacto{
 			
 				height: 70vh;
 			}
 			     		
      		.formulario-login{
      			height: 70vh;
      			width: 100vh;
      			position: relative;
      			left: 50%;
      			border-radius: 7px;
				box-shadow: 4px 3px 10px 0 #212121;
				border: 2px solid #00BCD4;
				margin-top: 10%;

      		}
      		.form-login{
      		position:relative;
      		top: 20%;
      		}
      		
      		body{
      			position: fixed;
      		}
        }
        
/*==================================================*/

/*=============BARRA DE NAVEGACIÓN PANTALLA GRANDE==========*/

.naveg1 {
				position: relative; border : 2px solid #00BCD4;
				height: 6vh;
				box-shadow: 4px 3px 10px 0 #212121;
				border: 2px solid #00BCD4;
}

.naveg2 {
				border: 2px solid #00BCD4;
				position: relative; border-radius : 6px;
				box-shadow: 4px 3px 10px 0 #212121;

}

.naveg1-ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				height: 100%;
}

.naveg1-li {
				margin-right: 15px;
}

.naveg1-a {
				padding: 10px 10px 10px 10px;
				text-decoration: none;
				position: relative;
				transition-property: background;
				transition-duration: .7s;
				height: 25px;
				border-radius: 5px;
}

.naveg1-li .naveg1-a:hover {
				transition-property: background;
				transition-duration: .7s;
				background-color: #00BCD4;
}

.naveg1-li .naveg1-a:visited {
				color: white;
}

.usuario{
	margin:0;
}
/*====================================================*/

/*=============BARRA DE NAVEGACIÓN PANTALLA CHICA==========*/
.naveg2-li {
				margin-top: 7px;
}

.naveg2-a {
				padding: 1px 7px 1px 7px;
				text-decoration: none;
				position: relative;
				transition-property: background;
				transition-duration: .7s;
				border-radius: 3px;
}

.naveg2-li .naveg2-a:hover {
				transition-property: background;
				transition-duration: .7s;
				background-color: #00BCD4;
}

.naveg2-li .naveg2-a:visited {
				color: white;
}

/*====================================================*/

/*======================ESTILO INDEX==================*/
.article-index {
				box-shadow: 4px 3px 10px 0 #212121;
				margin-bottom: 20px;
				padding: 10px;
				border: 2px solid #00BCD4;
				border-radius: 7px;
				height: 200px;
				display: flex;
}

.index-image {
				border-radius: 5px;
				width: 220px;
				height: 180px;
}

.index-article-text {
				padding: 7px;
}
/*=================ESTILO PRODUCTOS========================*/

.formulario-producto{
				margin-top: 70px;
}
/*======================================================*/

/*====================ESTILO CONSEJOS===================*/
.article-consejos {
				border-radius: 7px;
				box-shadow: 4px 3px 10px 0 #212121;
				border: 2px solid #00BCD4;
				/* margin-top: 80px;
				padding-left: 15px; */
}

/*==================ESTILO CONTACTANOS======================*/
.formulario-contacto {
				border-radius: 7px;
				box-shadow: 4px 3px 10px 0 #212121;
				border: 2px solid #00BCD4;
				margin-top: 50px;
}

/*=======================================================*/

/*=================ESTILO SUCURSALES======================*/
.section-sucursales {
	height: 75vh;
	border-radius: 7px;
	box-shadow: 4px 3px 10px 0 #212121;
	border: 2px solid #00BCD4;
	/* margin-top: 15px;
	padding: 10px;
	padding-left: 15px; */
}

.section-sucursales-ul {
	list-style: none;
	height: 60vh;
	border-radius: 7px;
	margin-top: 150px;
	padding: 0;
	text-align: center;
	position: relative;
}

.sucursales-image {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

/*==========================================================*/

/*========================ESTILO SERVICIOS===================*/
.section-paseos {
	height: 75vh;
	border-radius: 7px;
	box-shadow: 4px 3px 10px 0 #212121;
	border: 2px solid #00BCD4;
	/* margin-top: 15px;
	padding: 10px;
	padding-left: 15px; */
}